[submodule "services/sub"]
	path = services/sub
	url = git@github.com:STNI-Rawlaw/testtree-sub.git
[submodule "services/sub2"]
	path = services/sub2
	url = git@github.com:STNI-Rawlaw/testtree-sub2.git
